/* --------------------------------------------------- */
/* ---------Styles related to tabular data ----------- */
/* --------------------------------------------------- */
@media print {
  a[href]:after {
    content: none;
  }
}
@media print
{
a:after {  display:none;}
}
body a:link:after, body a:visited:after {    
  content: "";
}

.dataGrid	{
	border: 1px solid #666600;
	border-collapse: collapse;
	}
.dataGrid TD	{
	display: table-cell;
	padding: 3px 3px 3px 3px;
	border: 1px solid #CCCCCC;
}
.dataGrid TH	{
	display: table-cell;
	padding: 2px 2px 2px 2px;
	border: 1px solid #666666;
	background-color: #F4F2EC;
	color: #000000;
}	
.dataGridROE	{
	border: 1px solid #666600;
	border-collapse:collapse;
	}
.dataGridROE TD	{
	display: table-cell;
	border: 1px solid #CCCCCC;
}
.dataGridROE TH	{
	display: table-cell;
	border: 1px solid #666666;
	background-color: #F4F2EC;
	color: #000000;
}	
.rowAlternateColor1 {background-color: #FFFFFF;}
.rowAlternateColor2	 {background-color: #F4F4F4;}

/* --------------------------------------------------- */
/* ---------Styles related to form tables ------------ */
/* --------------------------------------------------- */

.dataLabel {
	background-color: #f4f4f4;
	display: table-cell;
	text-align:left;
	/*white-space: nowrap;*/
	border: 1px solid #cccccc;
}  

.dataLabelSubcategory1 {
	background-color: #f4f4f4;
	display: table-cell;
	background-image: url(../../../Images/arrowSubcategory.gif);
	background-position: 10px;
	background-repeat: no-repeat;
	text-indent: 30px;
	/*border: 1px solid #cccccc;*/
	text-align:left;
}
	
.dataLabelSubcategory2 {
	background-color: #f4f4f4;
	display: table-cell;
	background-image: url(../../../Images/arrowSubcategory.gif);
	background-position: 30px;
	background-repeat: no-repeat;
	text-indent: 50px;
	/*border: 1px solid #cccccc;*/
	text-align:left;
}

.dataLabelSubcategory3 {
	background-color: #f4f4f4;
	display: table-cell;
	background-image: url(../../../Images/arrowSubcategory.gif);
	background-position: 50px;
	background-repeat: no-repeat;
	text-indent: 70px;
	/*border: 1px solid #cccccc;*/
	text-align:left;
}

.dataLabelSubcategory4 {
	background-color: #f4f4f4;
	display: table-cell;
	background-image: url(../../../Images/arrowSubcategory.gif);
	background-position: 70px;
	background-repeat: no-repeat;
	text-indent: 90px;
	/*border: 1px solid #cccccc;*/
	text-align:left;
}

.dataValue {
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
	}

	/* --------------------------------------------------- */
/* ---------Styles related to main buttons ----------- */
/* --------------------------------------------------- */
.btnMain	{
	border: 1px solid #666600;
	display: inline;
	background-color: #E4E4C6;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 2px 2px 2px 2px;
}
.btnMain1 
{
    border: 1px solid #666600;
    display: inline;
	background-color: #E4E4C6;
	text-decoration: underline;
}	
.btnMain a 	{
	border: 1px solid #666600;
	display: inline;
	background-color: #E4E4C6;
	/*margin-bottom: 5px;
	margin-right: 5px;*/
	padding: 6px 6px 6px 6px;
	text-decoration: none;
	}

/* ----------------------------------------------------------- */
/* ---------Styles related to the Glossary / Help page-------- */
/* ----------------------------------------------------------- */
.glossaryTable {
	text-align: left;
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}  

.glossaryHelpContent {
	padding-left: 15px;
	display: block;
}

/*.glossaryTable H2 {border-bottom: 1px dotted #CCCCCC;}*/
.glossaryTable H3 {border-bottom: 1px dotted #CCCCCC;}
.glossaryHelpContent P {margin-top: 5px;}

.validationError	{
	color: #CC0000;
	background-image: url(../../../Images/iconValidError.gif);
	background-repeat: no-repeat;
	background-position: left top;
	}
	
DIV.validationError	{
	color: #CC0000;
	background-image: url(../../../Images/iconValidError.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 30px;
	margin-top: 10px;
	height: 30px;
}

.importantMessage {color: #CC0000; margin-top: 10px;}
	
.importantMessage P {
	margin-top: 6px;
	background-image: url(../../../Images/iconValidError.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 30px;
}

.linksPage {
	border: 1px solid #CCCC99;
	white-space:nowrap ; 
	background-color:#E4E4C6;
	}
.linksPage A {text-decoration: underline;}

 /* -------------------------------------------------------- */
/* ---------Styles for displaying IFFS Questionnaires------ */
/* -------------------------------------------------------- */	
.QandALabel {
	font-size:medium;
	}
.QuestionError 
{
	background-color:white;
	border-style:none;
}	
.IFFSTable {
	border-collapse: collapse;
	border: 1px solid #666600;
}

.IFFSTable td {
	border: 1px solid #666600;
}
.IFFSTitle {	
	font-variant:small-caps;
	font-size:medium;
}	

/* ---------------------------------------------------------------------------- */
/* --Styles related to the "bulletin board" messages found on the right side -- */
/* ---------------------------------------------------------------------------- */
.messageBoard	{
	border: 1px solid #CCCC99;
	width: 90%;
	margin-top: 15px;
	border-collapse: collapse;
	}
	
table.header	{
	background-color: #CCCC99;
	border: 1px solid #CCCCCC;
	width: 100%;
	}
	
H2.messageBoardTitle	{
	color: #000000;
	background-color: #CCCC99;
	margin-top: 3px;
	}	
	
TD.messages{padding: 4px 5px 5px 10px;}

FIELDSET {
	border: 0px;
    margin-left:25px;
	margin-top: 15px;}

LEGEND {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:medium;
    font-weight:bold;
	margin-left: 15px;
	margin-bottom: 5px;
	}
.LEGEND2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:large;
	margin-left: -7px;
	margin-bottom: 5px;
	}
LEGEND P {
	display: inline; 
	margin-bottom: 0px;
	}	

FIELDSET TABLE {
	margin-top: 5px;
	}
th {
    text-align: center;
}
 .boxLeft
{   
    white-space:normal;
    float:left;
	/*width: 260px;
	height: 110px;
	/*padding-right: 20px;*/	
}
 .boxLeftDDP
{   
    white-space: nowrap;
    float:left;
	/*width: 270px;
	height: 110px;
	/*padding-right: 20px;*/	
}
.boxRight
{   
    white-space: normal;
    float:left;
    clear:right;
    /*width: 260px;
    height: 110px;*/
    padding-left: 40px;
   /* margin-bottom: 10px;*/
}
.boxFormat
{
   float:left;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 40px;
   padding-right: 40px;
    border-style: solid;
	border-width : 1px;
	display: block;	 
}
.smallBoxLeft
{
	float:left;
	clear:left;
	width: 150px;
	height: auto;
}

.smallBoxMiddle
{
	float: none;
	width: 150px;
	height: auto;
}
.smallBoxRight
{
	float: none;
	width: 150px;
	height: auto;
}
.smallBoxRight2
{
	float: none;
	height: auto;
}
.clearfix:after 
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.cleanbreak
{
    clear:left;
    display: block;
}
.cleanbreak2 {clear:both;display:block;height:0 !important;min-height:0 !important;margin:0;overflow:hidden;visibility:hidden;width:0;}
.cleanbreak3 {clear:both;display:block;height:0 !important;min-height:0 !important;margin:0;overflow:hidden;visibility:hidden;width:0;padding-top:50px;}
.cleanbreak4 {clear:both;display:block;height:0 !important;min-height:0 !important;margin:0;overflow:hidden;visibility:hidden;width:0;padding-bottom:40px;}
.cleanbreak6{clear:both;display:block;height:0 !important;min-height:0 !important;margin:0;overflow:hidden;visibility:hidden;width:0;padding-bottom:60px;}
.cleanbreak5 {clear:both;height:0 !important;min-height:0 !important;margin:0;overflow:hidden;visibility:hidden;padding-right:30px;}
.cleanbreak7 {
    clear: both;
    display: block;
    height: 0 !important;
    min-height: 0 !important;
    margin: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    padding-bottom: 20px;
}
imgDDP {
    height: auto;
    max-width: 720px;
}
    .display {
     display:flex;  
  list-style:none;
}
 br1{content:' ';}
br2:after{content:' ';}

.bigboxLeft
{   
    float:left;
    clear:left;
	width: 550px;
	height:auto;	
}
.labelLeft
{
    /*float:left; */
     margin-left: 30px;
     /*display: block;*/
     display: inline;
}
.labelRight
{
    float:right;
}
.error_eoad
{
    color: #AA0000; 
    display: block;
 }
.error_eoad1 
{
 color: #AA0000;
}    
.p1css {background-color: #DDC; padding: 5px;}
.p2css {background-color: #DDC;margin-top: 10px;}
.noWrap 
{
   white-space:nowrap;
}
.break
{
 display:block;
 padding:10px;
 margin-bottom: 5px;
}
.break2{
 padding-top: 30px;
 margin-bottom: 60px;
}
  .dl {
    padding: 0.5em;
    margin-bottom: 0px;
    margin-top:10px;
  }
  .dt {
    float: left;
    clear: left;
  }
 
  .dd {
    margin: 0 0 0 210px;
    padding: 0 0 0.5em 2em;
  }

.helpList
{
    list-style-type: none;
}
.alignCenter{ text-align:center;}
.alignRight{ text-align: right;}
.alignLeft{ text-align: left;}
.float-right, .floatRight {float: right;}
.float-left, .floatLeft {float: left;}

#cn-wh-logout
{
float: right;
padding-top:0px;
padding-bottom: 0px;
padding-left: 20px;
}
#cn-wh-logout p {
    margin: 0;
    text-align: center;
}

#log-out-img {
    background-image: url("../../../images/logout.png");
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    font-size:100%;
}

#log-out-img a:link, #log-out-img a:visited {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
#cn-wh h1
{
display: inline;
border-bottom: 0;
margin-left: 0;
margin-right: 0;
}

#cn-wh
{
position: relative;
margin-bottom: 10px;
margin-left: 10px;
margin-right: 10px;
border-bottom: 1px solid;
}


#wb-main-in {
    padding-bottom: 0;
    padding-top: 1px;
}

label.hidden {position: absolute;left: 0em;top: -7.69em;width: 0.07em; height: 0.07em; overflow: hidden;}
 .h2size
 {
     font-size: large;
     font-weight: bold;
 }

sup.reference a {
    white-space: nowrap;
}